<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="sql-embeddings.ZPM">
    <Module>
      <Name>sql-embeddings</Name>
      <Version>0.0.24</Version>
      <Description>Work with embeddings directly in SQL for InterSystems IRIS Vector Search</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.musketeersbr.sqlembeddings.PKG"/>
      <Resource Name="dc.musketeersbrSqlProcDefs.CLS"/>
      <UnitTest Name="/tests" Package="dc.musketeersbr.sqlembeddings.unittests" Phase="test"/>
    </Module>
  </Document>
</Export>
